<div class="welcome-div">
    <h1 class="welcome-txt">{{'WelcomeTxt' | translate}}</h1>
</div>
<div class="btn-welcome-lang-div">
    <label class="lang-label">{{'LangSelect' | translate}}</label>
    <button mat-raised-button class="btn-lang" color="primary" (click)="switchLang('ar')">عرب</button>
    <button mat-raised-button class="btn-lang" color="primary" (click)="switchLang('en')">ENGLISH</button>
</div>
<!-- <div class="btn-welcome-div">
    <button mat-raised-button class="btn-proceed" color="primary" (click)="toLogin()">{{'ClickToProceed' | translate}}</button>
</div> -->
